.client__caption {
  background-color: #f2f1f1;
  background-size: cover;
  display: block;
  padding-top: 40px;

  &-text {
    text-align: center;
    font-family: 'montserrat-light', sans-serif;
    font-size: 20px;
    color: #828181;
    padding-bottom: 15px;
  }

  &-something {
    text-align: center;
    font-family: "open-sans-light", sans-serif;
    font-size: 16px;
    color: #b7b3b3;
    padding: 15px 0 75px;
  }
}

.client__caption-icon {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 850px;
    margin: 0 auto;
    padding-bottom: 65px;
  }