.client__caption {
  background-color: #f2f1f1;
  background-size: cover;
  display: block;
  padding-top: 40px;

  &-text {
    text-align: center;
    font-family: 'montserrat-light', sans-serif;
    font-size: 20px;
    color: #828181;
    padding-bottom: 15px;
  }

  &-something {
    text-align: center;
    font-family: "open-sans-light", sans-serif;
    font-size: 16px;
    color: #b7b3b3;
    padding: 15px 0 40px;
  }
  &-icon {
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 900px;
    margin: 0 auto;
  }

  &-logo {
    min-width: 220px;
    max-width:220px;
    text-align: center;
    flex: 1;
    padding-bottom: 50px;

    img {
      max-width: 100%;
    }
  }


  &-button {
    text-align: center;
    padding-bottom: 30px;
    font-family: 'ProximaNova-Light', sans-serif;
    font-size: 18px;
  }

  &-btn {
    padding: 12px 30px;
    display: inline-block;
    text-decoration: none;
    color: #a59d9d;
    font-size: 18px;
    background: #dddcdc;
    border-radius: 40px
  }
}

/* у кнопки нижний падинг 30*/