/**
Fonts
 */
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot") format("eot");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot") format("eot");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "proxima_nova-bold";
  src: url("../fonts/proxima_nova-bold.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-light";
  src: url("../fonts/montserrat-light.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat_bold";
  src: url("../fonts/Montserrat_bold.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Nautilus-Pompilius";
  src: url("../fonts/Nautilus-Pompilius.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/open-sans-light.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}

