@import 'reset';
@import 'fonts';
@import 'header';
@import 'work-images';

body {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 16px;
}

/**
Buttons
*/
.btn {
  padding: 10px 5px;
  border-radius: 5px;
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background: #54d154;
  border-radius: 40px;
  padding: 12px 20px;
}

.btn-info {
  color: #000;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
}

/**
 Home Section
 */
.container-work {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 200px;
}

div.button-scroll-down .btn {
  font-size: 16px;
  color: black;
}

.container-scroll-down {
  text-align: center;
  padding-bottom: 11px;
  font-family: 'ProximaNova-Light', sans-serif;
}

.container-work {
  text-align: center;
}

/**
 About Section
 */

section.about {
  background: url("../images/background/background1.png") no-repeat;
  background-size: cover;
  display: block;
}

section.about div.about_what-we-do {
  font-family: 'montserrat-light', sans-serif;
  color: #828181;
  font-size: 20px;
  text-align: center;
  padding-top: 45px;

}

section.about div.about_something {
  font-family: 'open-sans-light', sans-serif;
  color: #cac8c8;
  text-align: center;
  padding: 30px 0 20px 0;

}

.about__blocks {
  display: flex;
  padding: 70px;
}

.about__block {
  flex: 1;
  text-align: center;
}

.about__image {
  padding: 20px;
  width: 140px;
  height: 140px;
  border-radius: 30px;
  background: #e1f3e1;
  margin: 0 auto;

}

.about__text {
  margin: 30px 0;
  font-family: "montserrat-light",sans-serif;
  font-size: 15px;
  color: #828181;

}

.about__caption {
  margin: 30px 0;
  font-family: "proxima_nova-bold", sans-serif;
  font-size: 24px;
  color: #828181;
}

.about__button {
  font-family: "proxima_nova-bold",sans-serif;
}

.about__image-logo {
  padding: 25px;
}


.work-button {
  text-align: center;
  padding: 10px 20px;
  color: #2b9b2b;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #2b9b2b;
  flex: 1;
}
/* buttons */
.work-button_left{
  border-radius: 20px 0 0 20px;
  padding: 10px 20px 10px 15px;
}

.work-button_active,
.work-button:hover {
  color: white;
  background: #2b9b2b;
}

.work-button_right {
  border-radius: 0 20px 20px 0;
  padding: 10px 17px 10px 20px;
}

.work-button_photo {
  color: #ffffff;
  text-align: center;
  padding: 15px 16px;
}

.work-images__gallery {
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 920px;
  margin: 0 auto;
}

.work-images__photo{
  margin-top: 28px;
}