/**
Fonts
 */
@font-face {
    font-family: "ProximaNova-Regular";
    src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot") format("eot");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNova-Light";
    src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot") format("eot");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "proxima_nova-bold";
    src: url("../fonts/proxima_nova-bold.otf") format("otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-light";
    src: url("../fonts/montserrat-light.otf") format("otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat_bold";
    src: url("../fonts/Montserrat_bold.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Nautilus-Pompilius";
    src: url("../fonts/Nautilus-Pompilius.otf") format("otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/open-sans-light.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}

/**
Reset CSS
 */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

body {
    font-family: "ProximaNova-Regular", sans-serif;
}

.header-container {
    background: url("../images/background/background.png") no-repeat;
    background-size: cover;
    display: block;
}

.main-menu a {
    font-family: "ProximaNova-Regular", sans-serif;
    color: white;
    font-size: 16px;
    padding: 10px 0 0 0;
    margin: 0 12px;
    text-decoration: none;
    display: inline-block;
}

.main-menu {
    flex: 1;
    padding: 0 15px;
}

.header {
    display: flex;

}

.main-menu a:hover,
.main-menu a:active {
    border-top: 5px solid #54d154;
    padding-top: 2px;
    font-weight: bold;
}

.logo-container h3 {
    font-family: "Nautilus-Pompilius", sans-serif;
    font-size: 24px;
    color: white;
    padding: 0 170px;
}

.logo-container {
    flex: 1;
    text-align: center;
}

.search-container {
    flex: 1;
}

.search-container form {
    float: right;
    margin-right: 30px;
    margin-top: 5px;
    background: url('../images/button/Rounded-Rectangle-2.png') no-repeat;
}

.search-container input[type=text] {
    border: none;
    background: transparent;
}

.search-container input[type=text]:focus {
    outline: none;
}

.search-container button {
    font-family: "ProximaNova-Light", sans-serif;
    background: url("../images/magnifying-glass34.png") no-repeat;
    position: relative;
    right: 28px;
    top: 6px;
    width: 25px;
    height: 25px;
    border: none;

}

div.head_caption h1 {
    color: white;
    font-family: "Montserrat_bold", sans-serif;
    font-size: 55px;
    margin-top: 290px;
    text-align: center;

}

/**
Buttons
 */
.btn {
    padding: 10px 5px;
    border-radius: 5px;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background: #54d154;
    border-radius: 40px;
    padding: 12px 20px;
}

.btn-info {
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
}

/**
 Home Section
 */
.container-work {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 200px;
}

div.button-scroll-down .btn {
    font-size: 16px;
    color: black;
}

.container-scroll-down {
    text-align: center;
    padding-bottom: 11px;
    font-family: 'ProximaNova-Light', sans-serif;
}

.container-work {
    text-align: center;
}

/**
 About Section
 */

section.about {
    background: url("../images/background/background1.png") no-repeat;
    background-size: cover;
    display: block;
}

section.about div.about_what-we-do {
    font-family: 'montserrat-light', sans-serif;
    color: #828181;
    font-size: 20px;
    text-align: center;
    padding-top: 45px;

}

section.about div.about_something {
    font-family: 'open-sans-light', sans-serif;
    color: #cac8c8;
    text-align: center;
    padding: 30px 0 20px 0;

}

.about__blocks {
    display: flex;
    padding: 70px;
}

.about__block {
    flex: 1;
    text-align: center;
}

.about__image {
    padding: 20px;
    width: 140px;
    height: 140px;
    border-radius: 30px;
    background: #e1f3e1;
    margin: 0 auto;

}

.about__text {
    margin: 30px 0;
    font-family: "montserrat-light",sans-serif;
    font-size: 15px;
    color: #828181;

}

.about__caption {
    margin: 30px 0;
    font-family: "proxima_nova-bold", sans-serif;
    font-size: 24px;
    color: #828181;
}

.about__button {
    font-family: "proxima_nova-bold",sans-serif;
}

.about__image-logo {
    padding: 25px;
}

.images {
    background: url("../images/background/rectangle5.png");
    background-size: cover;
    display: block;
}
.images__text {
    font-family: "montserrat-light",sans-serif;
    font-size: 24px;
    color: #828181;
    text-align: center;
    padding: 45px 0 15px 0;
}

.images__text-something {
    font-family: 'open-sans-light', sans-serif;
    color: #828181;
    text-align: center;
    padding: 15px 0 30px 0;
}

.images__button {
    display: flex;
    text-align: center;
}
.button-green{
    padding: 15px 5px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    background: #2b9b2b;
}
.button-white {
    padding: 15px 5px;
    color: white;
    text-decoration: none;
    background: #ffffff;
}

.button-design.button-white,
.button-print.button-white,
.button-photo.button-green {
    flex: 1;
    margin: 0 180px;
    padding: 10px 50px;
}

.button-print {
    color: #2b9b2b;
}
.button-design {
    color: #2b9b2b;
}

..button-photo {
    color: #ffffff;
}